.navigation
{
    width: 100%;
    z-index: 9999;
    padding-top: 10px;
    position: absolute;
    padding-left: 10px;
}

.navigation ul
{
    display: flex;
    align-items: center;
}

.navigation ul li
{
    margin-right: 40px;
    list-style-type: none;
}

.navigation ul li a
{
    color: #000000;
    text-decoration: none;
}

.navigation ul li a:hover
{
    cursor: pointer;
}