/* - - - - - - - - - - || IMPORT FONTS || - - - - - - - - - - */

/* Poppins (Regular) Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Poppins (Bold) Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Poppins (Black) Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

/* - - - - - - - - - - || GENERAL || - - - - - - - - - - */
html
{
  overflow: hidden;
}

body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}